body{
    background: whitesmoke;
    padding: 10px;
}
header{
    position:relative;
    padding-bottom: 20px;
    padding-top: 20px;
    background: white;
    border-bottom: solid black 20px;
    padding-left: 30px;
    width:inherit;
}
header>a{
    text-align-all: center;
    padding-right: 120px;
    padding-left: 120px;
    padding-bottom: 10px;
    padding-top: 10px;
    border:  solid black 10px;
    background: white;
    font-family: Arial;
    font-size: 26px;
    font-style: italic;
    color: black;

}
main{
     font-size: 40px;
     padding-bottom: 5px;

}

footer{

    bottom:0;
    width:100%;
    padding-left: 16cm;
    height:60px;   /* Height of the footer */
    border-top: double;
    font-style: oblique;
    font-family: Georgia;

}
.dd-menu{
    position: relative;
    display: inline-block;

}
.dd-but{
    background-color: white;

    color: black;
    border: solid black 9px;

    cursor: pointer;
    font-family: Arial;
    text-align-all: center;
    padding-right: 120px;
    padding-left: 120px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 26px;
    font-style: italic;
}
.dd-content{
    display: none;
    position: absolute;
    background-color: whitesmoke;
    min-width: 240px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

}

.dd-content a{
    color: black;
    text-align-all: center;
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-decoration: none;
    display: block;
    font-size:26px;
    text-align: justify;
    width: 125px;

}

.dd-content a:hover {
    background-color: floralwhite;

}

.dd-menu:hover .dd-content{
    display: block;
}
.dd-menu:hover .dd-but{
    background-color: floralwhite;
}
#pancake{
    font-size: 26px;
}

.posts{
    padding-left: 15px;
    font-size: 18pt;
    border-bottom: 4px solid;
    width: 80%;
    text-align:left;
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
}
#posted{
    padding-bottom: 10px;
}
#viewHome{
    padding-bottom: 10px;
    padding-top: unset;
}
div, form{
    width: 300px;
    margin: 20px;
    resize: both;
}
input, #registerButton, #loginButton{
    width: 300px;
    height: 60px;
    border: 2px solid black;
    font-size:28px;
}
input{
    width:295px;
}
div.dd-menu{
    width: 300px;
}
div.dd-content{
    padding-right: 40px;
    padding-left: 0px;
    margin: inherit;
}