body{
    background: whitesmoke;
    padding: 10px;
}
header{
    position:relative;
    padding-bottom: 20px;
    padding-top: 20px;
    background: white;
    border-bottom: solid black 15px;
    padding-left: 30px;
}
header>a{
    text-align-all: center;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
    border:  solid black 2px;
    background: white;
    font-family: Arial;
    font-size: larger;
    font-style: italic;
    color: black;

}
main{
     font-size: 40px;
     padding-bottom: 20px;
 }

footer{

    bottom:0;
    width:100%;
    padding-left: 16cm;
    height:60px;   /* Height of the footer */
border-top: double;
    font-style: oblique;
    font-family: Georgia;

}
.dd-menu{
    position: relative;
    display: inline-block;

}
.dd-but{
    background-color: white;
    color: black;
    border: solid black 2px;
    cursor: pointer;
    font-family: Arial;
    text-align-all: center;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: larger;
    font-style: italic;
}
.dd-content{
    display: none;
    position: absolute;
    background-color: whitesmoke;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.dd-content a{
    color: black;
    text-align-all: center;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-decoration: none;
    display: block;
}

.dd-content a:hover {
    background-color: floralwhite;
}

.dd-menu:hover .dd-content{
    display: block;
}
.dd-menu:hover .dd-but{
    background-color: floralwhite;
}
#pancake{
    font-size: 16px;
}

.posts{
    padding-left: 15px;
    font-size: 14pt;
    border-bottom: 1px solid;    
}