body{
    background: whitesmoke;
    padding: 10px;
}
header{
    background: white;
    border-bottom: solid black 5px;
    padding-left: 30px;
}
header>a{
    text-align-all: center;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
    border:  solid black 2px;
    background: white;
    font-family: Arial;
    font-size: larger;
    font-style: italic;
    color: black;

}
.dd-menu{
    position: relative;
    display: inline-block;

}
.dd-but{
    background-color: red;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dd-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.dd-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dd-content a:hover {
    background-color: #f1f1f1
}

.dd-menu:hover .dd-content{
    display: block;
}
.dd-menu:hover .dd-but{
    background-color: #3e8e41;
}


